{% extends 'base.html' %}
{% load static %}

{% block content %}
<main class="main-content position-relative border-radius-lg ">
  <div class="container-fluid py-4">
    <div class="row mt-4">
      <div class="col-12">
        <div class="card">
          <!-- Card header -->
          <div class="card-header pb-0">
            <div class="d-flex">
              <div>
                <h5 class="mb-0">Tabel Jadwal</h5>
              </div>
              <div class="ms-auto my-auto mt-0">
                <div class="ms-auto my-auto">
                  <a href="{% url 'jadwalexport' %}" class="btn btn-outline-primary btn-sm mb-0" target="_blank">
                    Export</a>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-flush" id="datatable-search">
                <thead class="thead-light">
                  <tr>
                    <th>No</th>
                    <th>Guru</th>
                    <th>Telepon</th>
                    <th>Mapel</th>
                    <th>Kelas</th>
                    <th>Hari</th>
                    <th>Waktu</th>
                  </tr>
                </thead>
                <tbody>
                  {% for k in jadwal %}
                  <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{k.tugas.guru.nama}}</td>
                    <td>{{k.tugas.guru.telepon}}</td>
                    <td>{{k.tugas.mapel.nama_mapel}}</td>
                    <td>{{k.tugas.mapel.kelas.nama_kelas}}</td>
                    <td>{{k.waktu.nama_hari}}</td>
                    <td>{{k.waktu.jam}}</td>
                  </tr>
                  <div class="modal fade" id="Delete{{k.id}}" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog mt-lg-10">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="ModalLabel">Hapus ({{k.waktu_mulai}}-{{k.waktu_selesai}})</h5>
                          <i class="fas fa-upload ms-3"></i>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <p>Are you sure you want to delete <strong>({{k.waktu_mulai}}-{{k.waktu_selesai}})</strong> permanently?</p>
                        </div>
                        <div class="modal-footer">
                          <form method="POST" action="{% url 'delete_jam' k.id %}">
                            {% csrf_token %}
                            <button type="button" class="btn bg-gradient-secondary btn-sm"
                              data-bs-dismiss="modal">Close</button>
                            <input type="submit" class="btn btn-danger" name="Confirm">
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                  {% endfor%}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock content %}