{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="col-12 mx-auto">
  <div class="card card-body ">
    <div class="card-header">
      <h6 class="mb-0">New Ruangan</h6>
      <p class="text-sm mb-0">Create New Ruangan</p>
    </div>
    <div class="card-body">
      <form method="POST" action="">
        {% csrf_token %}
  
        {{form.nama_ruangan|as_crispy_field}}
        {{form.kelas|as_crispy_field}}
        {{form.jenis|as_crispy_field}}
  
        <div class="d-flex justify-content-end mt-4">
          <button type="button" name="button" class="btn btn-light m-0">Cancel</button>
          <button type="submit" name="submit" class="btn bg-gradient-primary m-0 ms-2"
            onclick="argon.showSwal('success-message')">Create Project</button>
        </div>
      </form>
    </div>
  </div>
</div>
<script src="{% static 'assets/js/plugins/sweetalert.min.js' %}"></script>

{% endblock content %}
